
.container {
  max-width: 90%;
  margin: auto;
}
.d_flex {
  display: flex;
  justify-content: space-between;
}
.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.f_flex {
  display: flex;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.RText {
  text-align-last: right;
}
input,
button {
  border: none;
  outline: none;
  background-color: none;
}
.row {
  width: 50%;
}
/* Head css */
.head {
  background-color: #0f3460;
  padding: 10px 0;
  color: #fff;
}
.head i {
  margin-right: 10px;
}
.head label {
  margin-right: 30px;
  font-size: 13px;
}

/* Navbar.css */

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-around;
    padding: 20px 0;
    background-color: rgb(34, 24, 121);
    color: white;
  }
  
  .logo {
    width: 80px;
  }
  
  .navbar__collection {
    display: flex;
    list-style: none;
  }
  
  .navbar__item {
    text-decoration: none;
    color: white;
    padding: 0 20px;
  }
  
  .navbar__item_2 {
    text-decoration: none;
    color: white;
    padding: 20px;
  }
  
  .navbar__item_2:nth-child(1) {
    padding: 100px 20px 20px 20px;
  }
  
  .navbar__item_2:last-child {
    padding: 20px 20px 100px 20px;
  }
  
  .navbar__sign_in {
    display: flex;
    color: white;
    text-decoration: none;
  }
  
  .navbar__sign_in p {
    padding: 0 0 0 20px;
  }
  
  .navbar__sign_in_2 p {
    padding: 0 0 0 20px;
  }
  
  .navbar__bar {
    display: none;
  }
  
  .navbar__sidebar {
    position: absolute;
    left: calc(100% - 400px);
    width: 400px;
    height: 100vh ;
    background-color: rgb(34, 24, 121);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
    display: none;
  }
  
  .navbar__collection_2 {
    display: flex;
    flex-direction: column;
  }
  
  .navbar__sign_in_2 {
    display: flex;
    color: white;
    text-decoration: none;
  }
  
  .navbar__cross {
    color: white;
    margin: 20px;
  }
    /* Additional styles for the responsive mobile menu */
    .navbar__sidebar.show {
        display: flex;
        transition: .5s ease-in-out;
      }
      
      .navbar__sidebar a {
        text-decoration: none;
        color: white;
        padding: 20px;
      }
      
      .navbar__sidebar .navbar__cross {
        margin-top: 20px;
      }
      
      .navbar__collection_2 {
        padding: 20px;
      }
















      :root {
        --bg: #EDF2F0;
        --bg-main: #0A2647;
        --neu-1: #ecf0f3;
        --neu-2: #d1d9e6;
        --white: #f9f9f9;
        --gray: #a0a5a8;
        --black: #181818;
        --purple: #4B70E2;
        --transition: 1.25s;
      }
      
      *,
      *::after,
      *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        user-select: none;
      }
      
     
      .main {
        position: relative;
        width: 600px;
        min-width: 400px;
        min-height: 600px;
        height: 600px;
        background-color: var(--neu-1);
        border-radius: 12px;
        overflow: hidden;
      }
      
      @media (max-width: 1200px) {
        .main {
          transform: scale(0.8);
        }
      }
      
      @media (max-width: 1000px) {
        .main {
          transform: scale(0.7);
        }
      }
      
      @media (max-width: 800px) {
        .main {
          transform: scale(0.6);
        }
      }
      
      @media (max-width: 600px) {
        .main {
          transform: scale(0.5);
        }
      }
      
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 25px;
        background-color: var(--neu-2);
        transition: var(--transition);
      }
      
      .form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
      }
      
    
      .form__icons i{
        font-size: 2rem;
        cursor: pointer;
        margin: 0 10px;
      }
    
      .form__input {
        width: 350px;
        height: 40px;
        margin: 4px 0;
        padding-left: 25px;
        font-size: 16px;
        letter-spacing: 0.15px;
        border: none;
        outline: none;
        font-family: 'Montserrat', sans-serif;
        background-color: var(--neu-1);
        transition: 0.25s ease;
        border-radius: 8px;
        box-shadow: inset 2px 2px 4px var(--neu-2), inset -2px -2px 4px var(--white);
      }
      
      .form__input:focus {
        box-shadow: inset 4px 4px 4px var(--neu-2), inset -4px -4px 4px var(--white);
      }
      
      .form__span {
        margin-top: 30px;
        margin-bottom: 12px;
        font-size: 18px;
      }
      
      .form__link {
        color: var(--black);
        font-size: 15px;
        margin-top: 25px;
        border-bottom: 1px solid var(--gray);
        line-height: 2;
        cursor: pointer;
      }
      
      .title {
        font-size: 34px;
        font-weight: 700;
        line-height: 3;
        color: var(--black);
      }
      
      .description {
        font-size: 14px;
        letter-spacing: 0.25px;
        text-align: center;
        line-height: 1.6;
      }
      
      .button {
        width: 180px;
        height: 50px;
        border-radius: 25px;
        margin-top: 50px;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1.15px;
        background-color: var(--purple);
        color: var(--white);
        box-shadow: 8px 8px 16px var(--neu-2), -8px -8px 16px var(--white);
        border: none;
        outline: none;
        cursor: pointer;
      }
      
    .button:active,
    .button:focus{
        box-shadow:
            2px 2px 6px --neu-2,
            -2px -2px 6px var(--white);
        transform: scale(.97);
        transition: .25s;
    }
    /**/
    .is-txr{
        left: calc(100% - 400px );
        transition: var(--transition);
        transform-origin: left;
    }
    .is-txl{
        left: 0;
        transition: var(--transition);
        transform-origin: right;
    }
    .is-z200{
        z-index: 200;
        transition: var(--transition);
    }
    .is-hidden{
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: var(--transition);
    }
    .is-gx{
        animation: is-gx var(--transition);
    }
    @keyframes is-gx {
        0%, 10%, 100%{ width: 400px; }
        30%, 50%{ width: 500px;}
    }













  @media screen and (max-width: 700px) {
    .navbar__collection {
      display: none;
    }
  
    .navbar__sign_in {
      display: none;
    }
  
    .navbar__bar {
      display: block;
    }
  
    .navbar {
      padding: 20px 50px;
      justify-content: space-between;
    }
    
  }
  
  @media screen and (max-width: 400px) {
    .navbar__sidebar{
        width: 300px;
        left: calc(100% - 300px);
    }
    .navbar {
      padding: 20px 20px;
    }
  }
  
