.home{
    width: 100%;
    display: flex;
    padding-top: 100px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffffff;
}
.home__circle{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home__baraka{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home__img{
    width: 500px;
}
.home__baraka button{
    padding: 20px 30px;
    color: white;
    font-size: 22px;
    box-shadow: 0 5px 15px rgba(122, 122, 122, 0.35);
    background: linear-gradient(to right, #5c6bc0, #613bb9);
    border-radius: 30px;
    border: 1px solid rgb(47, 123, 126);

}
.home__circle button{
    padding: 20px 30px;
    color: white;
    font-size: 22px;
    box-shadow: 0 5px 15px rgba(122, 122, 122, 0.35);
    background: linear-gradient(to right, #5c6bc0, #613bb9);
    border-radius: 30px;
    border: 1px solid rgb(47, 123, 126);
}

.home__baraka button:hover, .home__circle button:hover {
    background: linear-gradient(to left, #5c6bc0, #613bb9);
}












@media screen and (max-width: 1000px){
    .home__circle{
        width: 100%;
    }
    .home__baraka{
        width: 100%;
    }
}
@media screen and (max-width: 520px){
    .home__img{
        width: 400px;
    }
    .home__circle button{
        font-size: 18px;
    }
    .home__baraka button{
        font-size: 18px;
    }
}
@media screen and (max-width: 420px){
    .home__img{
        width: 300px;
    }
    .home__circle button{
        font-size: 16px;
        padding: 10px 20px;
    }
    .home__baraka button{
        font-size: 16px;
        padding: 10px 20px;
    }
}
@media screen and (max-width: 300px){
    .home__img{
        width: 270px;
    }
    .home__circle button{
        font-size: 14px;
        padding: 10px 20px;
    }
    .home__baraka button{
        font-size: 14px;
        padding: 10px 20px;
    }
}